<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/layout.css">
    {%block style%}
    {%endblock%}
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <header>
        <nav>
            <div>
            <a href="/" id = "home">Home</a>
          </div>
            <div class = "nav-list-container">
                <ul class = "nav-list">
                    <li><a href="/linear">Linear Search</a></li>
                    <li><a href="/binary">Binary Search</a></li>
                    <li><a href="/bubblesort">Bubble Sort</a></li>
                    <li><a href="/selection">Selection Sort</a></li>
                    <li><a href="/insertion">Insertion Sort</a></li>
                    <li><a href="/merge">Merge Sort</a></li>
                    <li><a href="/quick">Quick Sort</a></li>
                </ul>
            </div>
        </nav>
      </header>

       <main class="container py-5 text-center">
            {% block main %}{% endblock %}
       </main>
       <footer>
          <ul class="social_icon">
            <li>
              <a href="https://www.liberato.com.br"><ion-icon name="school-outline"></ion-icon></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/cassio-barbosa-braun-122b162b0/"><ion-icon name="logo-linkedin"></ion-icon></a>
            </li>
            <li>
              <a href="https://www.instagram.com/caassio_braun/"><ion-icon name="logo-instagram"></ion-icon></a>
            </li>
          </ul>
          <p>
            &copy;2025 Cassio Barbosa Braun | All Rights Reserved
          </p>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>